<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <divi id="header">
    <% if authenticated? %>
      <span>You are logged in.</span>
      <span style="float:right"><%= link_to "Logout", logout_url %></span>
    <% else %>
      <span>You are not logged in.</span>
      <span style="float:right"><%= link_to "Login", login_url %></span>
    <% end %>
  </div>
  <hr />
  <div>
    <%= yield %>
  </div>
</body>
</html>
